<div id="overlayContainer" style="display: none;">

    <div id="serverSelectContent" class="overlay" style="display: none;">

        <div class="overlayFrame">
            <div class="object-group">
                <span class="overlayTitle">Выбор сервера</span>
                <span class="overlayDesc">Пока что здесь пусто...</span>
            </div>
            <button id="serverSelectConfirm" class="svgButton">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 2L11 11M20 20L11 11M11 11L2 20L20 2" stroke="#ACACAC" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
            </button>
        </div>

        <div id="serverSelectList" style="display: none;">
            <span id="serverSelectHeader"><%- lang('overlay.serverSelectHeader') %></span>
            <div id="serverSelectListScrollable">
                <!-- Server listings populated here. -->
            </div>
        </div>
        <div id="serverSelectActions" style="display: none;">
            <div id="serverSelectCancelWrapper">
                <button id="serverSelectCancel" class="overlayKeybindEsc"><%- lang('overlay.serverSelectCancel') %></button>
            </div>
        </div>

    </div>

    <div id="overlayContent" class="overlay">
        <div class="overlayFrame">
            <div class="object-group">
                <span id="overlayTitle" class="overlayTitle">Lorem Ipsum:<br>Finis Illud</span>
                <span id="overlayDesc" class="overlayDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud..</span>
            </div>
            <button id="overlayClose" class="svgButton">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 2L11 11M20 20L11 11M11 11L2 20L20 2" stroke="#ACACAC" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>
            </button>
        </div>
        <div id="object-group" style="display: none;">
            <button id="overlayDismiss" style="display: none;" class="overlayKeybindEsc">Если у вас появилась эта кнопка, то скажите васкорду, я хз когда она может появляться</button>
        </div>
    </div>

    <script src="./assets/js/scripts/overlay.js"></script>
</div>