@font-face {
    font-family: 'Montserrat Medium';
    src: url('../fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat ExtraBold';
    src: url('../fonts/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('../fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Retro Computer';
    src: url('../fonts/retrocomputerrusbydaymarius.ttf');
}


@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-Medium.ttf');
}

*,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-app-region: drag;
}

 :root {

    /* global */
    --4: #FFFFFF;
    --3: #ACACAC;
    --2: #2C2D2C;
    --1_5: #616361;
    --1: #222423;
    --0: #141514;

    --blue: #5288DA;
    --green: #1FAB60;
    --red: #ec1b49;


    --gap: 30px;
    --gap-brand: 8px;
    --gap-object-group: 10px;

    --gap-auth-fields: 15px;
    --gap-auth-buttons: 15px;
    --gap-auth-links: 10px;

    --gap-news: 10px;
    --padding-news-container: 20px;

    --padding-overlay-top: 20px;
    --padding-overlay: 30px;

    --border-radius: 12px;
    --border-width: 2px;


    /* Шрифт текста в кнопке */
    --font-button: 'Montserrat SemiBold';
    --font-size-button: 18px;

    /* Шрифт h1 */
    --font-h1: 'Unbounded';
    --font-size-h1: 26px;

    /* Шрифт h2 */
    --font-h2: 'Montserrat Bold';
    --font-size-h2: 20px;

    /* Шрифт h3 */
    --font-h3: 'Montserrat SemiBold';
    --font-size-h3: 18px;

    /* Шрифт текста (по дефолту)*/
    --font-text: 'Montserrat Medium';
    --font-size-text: 16px;

    /* Шрифт ошибки в авторизации */
    --font-error-auth: 'Montserrat Medium';
    --font-size-error-auth: 14px;

     /* Шрифт для название (в фрейме) */
     --font-brand: 'Unbounded';
     --font-size-brand: 20px;



    /* Пиксельные */



    --font-pixel-h3: 'Retro Computer';
    --font-size-pixel-h3: 16px;

    --font-pixel-h2: 'Retro Computer';
    --font-size-pixel-h2: 17px;
    


 }

 /* Переменные для кнопок и инпутов ( Работают только в них )*/

 button, input, a {
    --height: 42px;
    --width: 42px; /* Если кнопка должна быть квадратной */

    --padding-top-down: 10px;
    --padding-left-right: 15px;
    --gap: 10px; /* Между текстом и иконки */
    --border-radius: 12px;

    --green-disabled-button: #1b442e; /* #205b37 */ /* Цвет если кнопка отключена */
    --green-disabled-button-text: #5f7b6c; /* #7e9086 */ /* Цвет текста если кнопка отключена */
    --green-hover-button: #138d4c; /* #156e37 */ /* Цвет при наведение на кнопку */
    --green-active-focus-button: #166b3d; /* #1a5e34 */  /* Цвет при нажатие*/

    --default-disabled-button-border: var(--1); /* Цвет контура если кнопка отключена */
    --default-disabled-button-bg: none; /* Цвет если кнопка отключена */
    --default-disabled-button-text: var(--3); /* Цвет текста если кнопка отключена */
    --default-hover-button: #1F2020; /* Цвет при наведение на кнопку */
    --default-active-focus-button: #1B1C1B;  /* Цвет при нажатие*/

    -webkit-app-region: no-drag !important;
 }
 
 button *, input *, a * { -webkit-app-region: no-drag !important; }

/*******************************************************************************
 *                                                                             *
 * Element Styles                                                              *
 *                                                                             *
 ******************************************************************************/

/* Reset body, html, and div presets. */
body, html, div {
    margin: 0px;
    padding: 0px;
}

/* Reset p presets. */
p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

/* Set default font and color. */
body {
    font-family: var(--font-text);
    font-size: var(--font-size-text);
    color: var(--4);
}

form {
    margin: 0;
}



/* Кнокпка */



/* Общее */
button {
    height: var(--height);
    font-family: var(--font-button);
    font-size: var(--font-size-button);
    color: var(--4);
    transition: 0.25s ease;
}

a {
    transition: 0.25s ease;
    text-decoration: none;
}

/* Кастомная кнопка. По типу кнопки "Войти" в авторизацит */
.customButton {
    display: flex;
    background: var(--1);
    padding: var(--padding-top-down) var(--padding-left-right);
    gap: var(--gap);
    cursor: pointer;
    width: 100%;
    border-radius: var(--border-radius);
    border: none;
    justify-content: center;
    align-items: center;
}
.customButton:disabled {
    background-color: var(--default-disabled-button-bg);
    border: var(--default-disabled-button-border) solid var(--border-width);
    color: var(--default-disabled-button-text);
    pointer-events: none;
    
}
.customButton:hover {
    background-color: var(--default-hover-button);
}

.customButton:active {
    background-color: var(--default-active-focus-button);
}


/* Зелёный цвет кнопки  */
.customButtonGreen  {
    background: var(--green) !important;
}
.customButtonGreen:disabled {
    border: none !important;
    background-color: var(--green-disabled-button) !important;
    color: var(--green-disabled-button-text) !important;
}
.customButtonGreen:hover {
    background-color: var(--green-hover-button) !important;
}
.customButtonGreen:active {
    background-color: var(--green-active-focus-button) !important;
}


/* Группа объектов */
.object-group {
    display: flex;
    flex-direction: column;
    gap: var(--gap-object-group);
    width: 100%;
}



/* Выбор. По типу "Выбор сервера"*/
.selectionText {
    box-sizing: border-box;
    padding: var(--padding-top-down) var(--padding-left-right);
    font-family: var(--font-text);
    font-size: var(--font-size-text);
    border-radius: var(--border-radius);
    background: var(--0);
    display: flex;
    width: -webkit-fill-available;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

.selection {
    border: var(--1) solid var(--border-width);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    padding: 0;
    border-radius: var(--border-radius);
    background: var(--1);
    width: 100%;
    height: var(--height);
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.selectionButton {
    height: 100%;
    box-sizing: border-box;
    /*padding: var(--padding-top-down) var(--padding-left-right);*/
    font-family: var(--font-text);
    font-size: var(--font-size-text);
    display: flex;
    width: 48px;
    justify-content: center;
    align-items: center;
}

.selection:hover {
    border: var(--default-hover-button)solid var(--border-width);
    background: var(--default-hover-button);
}

.selection:active {
    background: var(--default-active-focus-button);
    border: var(--default-active-focus-button) solid var(--border-width);
}



/* Кнопка использующая только svg. По типу кнопок в фрейме */
.svgButton {
    height: 100%;
    padding: 0 15px;
    background: none;
    border: none;
    cursor: pointer;
}



/* Строка ввода */



input {
    transition: 0.25s ease;
    background: none;
    outline: none;

    border: var(--border-width) solid var(--1);
    border-radius: var(--border-radius);

    color: var(--4);
    font-family: var(--font-text);
    font-size: var(--font-text);

    width: 100%;
    height: var(--height);

    padding: var(--padding-top-down) var(--padding-left-right);
}
input::-webkit-input-placeholder {
    color: var(--1_5);
    font-family: var(--font-text);
    font-size: var(--font-size-text);
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}



/* Заголовки */



h1 {
    font-family: var(--font-h1);
    font-size: var(--font-size-h1);
    font-weight: normal;
    margin: 0;
}

h2 {
    font-family: var(--font-h2);
    font-size: var(--font-size-2);
    margin: 0;
}

h3 {
    font-family: var(--font-h3);
    font-size: var(--font-size-h3);
    margin: 0;
}

/* Экран/Страница */

.screen, #landingContainer, #settingsContainer, #loginContainer, #waitingContainer  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    width: 100%;
    height: 100%;

    gap: var(--gap);
}

